:root {
  --primary-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --white-color: #ffffff;
  --accent-button-color: #188ce8;
  --third-background-color: #f5f4fa;
  --filter-background-color: #f5f4fa;
  --logo-color: #000000;
  --portfolio-background-color: #eeeeee;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-background-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  overflow: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

.section {
  padding: 94px 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #ececec;
  max-width: 100%;
}

/* navigation section */

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accept {
  color: var(--accent-color);
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.link.current::after {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  fill: var(--primary-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
  margin-left: 94px;
  align-items: center;
  gap: 50px;
}

.container.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* hero section */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-color: var(--secondary-background-color);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px auto;
  color: var(--white-color);
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primary-button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--accent-button-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* feature section */

.features-title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--filter-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-list {
  display: flex;
}

.features-list {
  display: flex;
}

.features-item {
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 270px;
}

.features-list:not(:last-child) {
  margin-right: 0px;
}

/* activity section */

.activity-title,
.team-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.activity.section {
  padding-top: 0px;
}

.activity-list {
  display: flex;
}

.activity-item {
  margin-right: 30px;
  position: relative;
}

.activity-item::not(:last-child) {
  margin-right: 0px;
}

.activity-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-description-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--white-color);
}

/* team section */

.team {
  background-color: var(--third-background-color);
}

.team-list {
  display: flex;
  text-align: center;
  gap: 30px;
}

.team-item {
  padding: 30px;
}

.team-card {
  width: calc((100%-90px) / 4);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member {
  margin-bottom: 10px;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* clients section */

.clients-title {
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.client-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: calc((100%-150px) / 6);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: currentColor;
}

/* footer section */

.footer {
  background-color: var(--secondary-background-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.logo-footer {
  display: flex;
  margin-bottom: 20px;
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contacts-footer {
  margin-bottom: 9px;
}

.contacts-footer:last-child {
  margin-bottom: 0px;
}

.address {
  color: var(--white-color);
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-mail {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus,
.address:hover,
.address:focus {
  color: var(--accent-color);
}

/* filter section */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.filter-list:nth-of-type(3n) {
  margin-right: 0px;
}

.filter-button {
  padding: 6px 22px;
  padding-bottom: 6px;
  min-width: 73px;
  margin-right: 8px;
  color: var(--title-color);
  background-color: var(--filter-background-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:nth-child(1) {
  padding: 6px 25px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* examles section */


.examples-card:hover,
.examples-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-card {
  display: block;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-block {
  padding: 20px 24px;
  margin-right: 0px;
}

.examples-text {
  color: var(--primary-color);
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.examples-card {
  width: 370px;
  background-color: var(--white-color);
  border: 1px solid #eeeeee;
  overflow: hidden;
}

.description-examples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  padding-top: 63px;
  padding-left: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover .description-examples,
.link-card:focus .description-examples {
  transform: translateY(0);
  /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); */
}

.link-card {
  text-decoration: none;
}

.description-examples-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.description-examples-block {
  position: relative;
  overflow: hidden;
}

.icon-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}

.icon-link {
  width: 44px;
  height: 44px;
  fill: var(--primary-color);
  background-color: var(--primary-background-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

.footer-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}


.footer-icon-link {
  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: currentColor;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* subscription section */

.mail-subscription {
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  cursor: pointer;
}

.mail-subscription:focus,
.mail-subscription:hover {
  border-color: var(--accent-color);
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}

.icon-subscrip {
  fill: var(--white-color);
  margin-left: 10px;
}

.form-subscription {
  display: flex;
  align-items: baseline;
}

/* modal section */

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.form-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-close-btn:hover,
.form-close-btn:focus {
  fill: var(--accent-color);

}

.form-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  justify-content: center;
  align-items: center;
  display: block;
  margin-bottom: 12px;
}

.form-label {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: inherit;
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);


}

.form-control:focus-within .form-icon {
  fill: var(--accent-color);
}

.form-control {
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: currentColor;
}

.form-coment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  resize: none;
}

.form-coment::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}


.policy-link {
  color: var(--accent-color);
}


.form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox-label {
  display: flex;
  gap: 2px;
  position: relative;
}

.checkbox-icon {
  fill: var(--white-color);
  border: 2px solid var(--logo-color);
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -21px;
}

.checkbox-input:checked+.checkbox-icon {
  background-color: var(--accent-color);
  border-color: transparent;

}